---
title: "Panel on Diversity, Equity, and Inclusion"
layout: default
pagination:
    enabled: false
permalink: /DEI/
subgroup: "DEI"
---

{% assign author = site.authors.esmb %}
<div class="container">
<div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row {% if page.image %} justify-content-between {% else %} justify-content-center {% endif %}">
				<div class="{% if page.image %} col-md-6 {% else %} col-md-8 {% endif %} pr-0 pr-md-4 pt-4 pb-4 align-self-center">
					<p class="text-uppercase font-weight-bold">
              <span class="catlist">
              	<span class="text-DEI">DEI</span>						
              </span>
					</p>
					<h1 class="display-4 mb-4 article-headline">{{ page.title }}</h1>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="container-lg pt-4 pb-4">
	<div class="row justify-content-center">
        
        <!-- Share -->
				<div class="col-lg-2 pr-4 mb-4 col-md-12">
					<div class="sticky-top sticky-top-offset text-center">
						<div class="text-muted">
							Share this
						</div>
						<div class="share d-inline-block">
							<!-- AddToAny BEGIN -->
							<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
								<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
								<a class="a2a_button_facebook"></a>
								<a class="a2a_button_twitter"></a>
							</div>
							<script async src="https://static.addtoany.com/menu/page.js"></script>
							<!-- AddToAny END -->
						</div>
					</div>
				</div>
        
        
		<div class="col-md-12 col-lg-10">
			
			<!-- Everyday -->
			<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem DEI position-relative">
		    <div class="pl-4 pr-0 h-100 tofront">
		        <div class="row justify-content-between">
		            <div class="col-md-12 pt-6 pb-6 pr-lg-4 align-self-center">
			            
			            
		              <h4 class="mb-3">SMB 2021 Daily DEI Activity</h4>
                	<p><strong>#SMB2021 #DailyDEI </strong></p> 

									<p>									
In the pre-conference DEI Workshop, Keynote Speakers <a href="https://www.smb2021.org/pre-conference-workshops/diversity-equity-inclusion">Dr. Pamela Harris & Dr. Aris Winger</a> encouraged SMB attendees to integrate small changes into our daily practices that, over time, will add up to big changes that make our workspaces more diverse, equitable and inclusive. We already have many of the skills necessary to bring positive change to our community, now let’s get to work! Join the conversation and suggest seemingly small, but impactful activities with the hashtags #SMB2021 and #DailyDEI on Twitter and Slack. In addition, SMB DEI Workshop Organizers will post specific activities each day of the annual meeting on Twitter, Slack and at the following link: <a href="https://tinyurl.com/SMBDailyDEI">https://tinyurl.com/SMBDailyDEI</a>. Let’s all work together to cultivate equity and inclusion at SMB and beyond!
									</p>
									

										                
		            </div>             
		        </div>
		    </div>
			</div>
			
			<!-- Sunday -->
			<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem DEI position-relative">
		    <div class="pl-4 pr-0 h-100 tofront">
		        <div class="row justify-content-between">
		            <div class="col-md-12 pt-6 pb-6 pr-lg-4 align-self-center">
			            
			            
		              <h4 class="mb-3">Discussions Celebrating and Building Diversity in Mathematical Biology</h4>
                	<p><strong>Sunday, June 13 at 2PM PDT.</strong></p> 

									<p>									
Join your colleagues in the Society for Mathematical Biology who are interested in building structures to promote diversity, equity and inclusion in our field. Come and learn from the experience of your colleagues through small group discussions. Topics will range from Inclusive Pedagogy, Recruitment, Hiring & Retention of Diverse Faculty, Disability & Accommodation, Gender Inclusivity, Diversity in Graduate Admissions and other topics as suggested by participants.
									</p>
									
									<button id="{{site.baseurl}}/session-recordings#DEI-Sunday" onclick="passWord(this.id)">Session video recording</button>

										                
		            </div>             
		        </div>
		    </div>
			</div>
			
			<!-- Monday -->
			<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem DEI position-relative">
		    <div class="pl-4 pr-0 h-100 tofront">
		        <div class="row justify-content-between">
		            <div class="col-md-12 pt-6 pb-6 pr-lg-4 align-self-center">
			            
			            
		              <p><strong>Panel Discussion: </strong></p>
	                <h4 class="mb-3">A Conversation with Leaders in Building Equity and Inclusivity within Mathematical Biology</h4>
                	<p><strong>Monday, June 14 from 2:15pm - 3:30pm Pacific Time</strong></p> 

									<p>									
										Dr. Ron Buckmire</br>
										Professor of Mathematics</br>
										Associate Dean for Curricular Affairs</br>
										Director of the Core Program</br>
										Occidental College</br>
										ron@oxy.edu
									</p>
									
									<p>	
										Dr. Kamuela Yong</br>
										Associate Professor of Mathematics</br>
										University of Hawaiʻi - West Oʻahu</br>
										kamuela.yong@hawaii.edu</br>
									</p>
									
									<p>
										Dr. Estrella Johnson</br>
										Associate Professor of Mathematics</br>
										Director of Inclusion and Diversity, College of Science</br>
										Virginia Polytechnic Institute and State University </br> 
										strej@vt.edu
									</p>
									
									<p>
										<strong>Moderators:</strong></br>
										Stacey Finley and Suzanne Sindi
									</p>
									
									<p>
										<strong>Organized by:</strong></br>
										Stacey Finley, Suzanne Sindi, Mikahl Banwarth-Kuhn and the SMB DEI Committee
									</p>
									
									<p>
										The promotion of diversity, inclusion and equality is a theme of this year’s annual meeting. We invite meeting participants to join us for a panel discussion with three accomplished leaders who have promoted equity and inclusivity by dismantling barriers that stood in their way. We will begin with an introduction from each panelist, who will discuss their career path and associated challenges. Afterwards, our panelists will answer questions from the audience. 
									</p>
									
									<p>
										This panel builds upon the pre-conference workshop on <a href="https://www.smb2021.org/pre-conference-workshops/diversity-equity-inclusion">Diversity, Equity and Inclusion</a>. 
									</p>
									
									<button id="{{site.baseurl}}/session-recordings#DEI-DEI-Monday" onclick="passWord(this.id)">Session video recording</button>
		                
		            </div>             
		        </div>
		    </div>
			</div>
			
			<!-- Thursday -->
			<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem DEI position-relative">
		    <div class="pl-4 pr-0 h-100 tofront">
		        <div class="row justify-content-between">
		            <div class="col-md-12 pt-6 pb-6 pr-lg-4 align-self-center">
			            
			            
		              <h4 class="mb-3">Discussions Celebrating and Building Diversity in Mathematical Biology: Where do we want to go from here?</h4>
                	<p><strong>Thursday, June 17 at 1-2PM PDT</strong></p> 

									<p>									
The goal of our work in diversity, equity and inclusion is about cultivating spaces in which all voices are heard, valued and validated. In this closing session, we reflect on the shape of our professional spaces and how to direct our energies forward beyond SMB 2021 both within the Society of Mathematical Biology and the spaces we each touch through our unique spheres of influence.
									</p>
									
									<button id="{{site.baseurl}}/session-recordings#DEI-DEI-Thursday" onclick="passWord(this.id)">Session video recording</button>
										                
		            </div>             
		        </div>
		    </div>
			</div>
			
			</br>
			</br>
			
			{% if page.author1 %}
	    	<h4 id="author1">{{ page.author1 }}</h4>
	    	{% if page.inst1 %} 
	    		<em>{{ page.inst1 }}</em>
	    	{% endif %}
	    	
	    	{% if page.title1 %}
	    		{% if page.title1 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title1 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	
	    	
	    	{% if page.abstract1 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract1 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract1 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
				
	    {% endif %}
	    
	    </br>
			</br>
	    
	    {% if page.author2 %}
	    	<h4 id="author2">{{ page.author2 }}</h4>
	    	{% if page.inst2 %} 
	    		<em>{{ page.inst2 }}</em>
	    	{% endif %}
	    	{% if page.title2 %}
	    		{% if page.title2 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title2 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	
	    	{% if page.abstract2 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract2 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract2 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
	    {% endif %}
	    
	    </br>
			</br>
	    
	    {% if page.author3 %}
	    	<h4 id="author3">{{ page.author3 }}</h4>
	    	{% if page.inst3 %} 
	    		<em>{{ page.inst3 }}</em>
	    	{% endif %}
	    	{% if page.title3 %}
	    		{% if page.title3 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title3 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	{% if page.abstract3 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract3 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract3 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
	    {% endif %}
	    
			</br>
			</br>
	    
	    {% if page.author4 %}
	    	<h4 id="author4">{{ page.author4 }}</h4>
	    	{% if page.inst4 %} 
	    		<em>{{ page.inst4 }}</em>
	    	{% endif %}
	    	{% if page.title4 %}
	    		{% if page.title4 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title4 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	{% if page.abstract4 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract4 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract4 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
	    {% endif %}
	    
	    </br>
			</br>
	    
	    {% if page.author5 %}
	    	<h4 id="author5">{{ page.author5 }}</h4>
	    	{% if page.inst5 %} 
	    		<em>{{ page.inst5 }}</em>
	    	{% endif %}
	    	{% if page.title5 %}
	    		{% if page.title5 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title5 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	{% if page.abstract5 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract5 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract5 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
	    {% endif %}
	    
	    </br>
			</br>
	    
	    {% if page.author6 %}
	    	<h4 id="author6">{{ page.author6 }}</h4>
	    	{% if page.inst6 %} 
	    		<em>{{ page.inst6 }}</em>
	    	{% endif %}
	    	{% if page.title6 %}
	    		{% if page.title6 == "" %} 
	    			<h6>"Title to be determined."</h6>
	    		{% else %}
	    			<h6>"{{ page.title6 }}"</h6>
	    		{% endif %}
	    	{% endif %}
	    	{% if page.abstract6 %}
	    		<article class="article-post text-justify" style="font-size:12px;">
		    		{% if page.abstract6 == "" %} 
		    			Abstract to be determined. Please check back later.
		    		{% else %}
		    			{{ page.abstract6 }}
		    		{% endif %}
	    		</article>
	    	{% endif %}
	    {% endif %}
	    
	      
			<!-- Author Box -->
      {% if author %}				
			<div class="row mt-5">
				<div class="col-md-2 align-self-center">
                       {% if author.avatar %}
                      <img class="rounded-circle" src="../{{author.avatar}}" alt="{{author.name}}" width="90"/>
                      {% endif %} 
				</div>
				<div class="col-md-10">		
                      <h5 class="font-weight-bold">Hosted by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
					{{ author.bio }}					
				</div>
			</div>				
      {% endif %}
      
      <!-- Comments -->
      {% if page.comments != false %}
          {% include comments.html %}
      {% endif %}
            
		</div>
        
        
	</div>
</div>




















