---
title: "Plan your SMB2021 experience"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - e-Conference 2021."
permalink: /your-smb2021/
---


<div class="container">
	
	<div class="col-md-12 main-loop">
	    <div class="row">
	        <div class="col-md-12  text-center">
		        {% include banner.html %}
		        <h1 class="mb-3">{{page.title}}</h1>

	        </div>
	    </div>
	</div>


	<div class="row justify-content-center">
        
        <!-- Share -->
				<div class="col-lg-2 pr-4 mb-4 col-md-12">
					<div class="sticky-top sticky-top-offset text-center">
						<div class="text-muted">
							Share this
						</div>
						<div class="share d-inline-block">
							<!-- AddToAny BEGIN -->
							<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
								<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
								<a class="a2a_button_facebook"></a>
								<a class="a2a_button_twitter"></a>
							</div>
							<script async src="https://static.addtoany.com/menu/page.js"></script>
							<!-- AddToAny END -->
						</div>
					</div>
				</div>
        
        
		<div class="col-md-12 col-lg-10">
			
			
			<p>Click to download a printable PDF of the SMB2021 schedule. Fill out the schedule with your planned attendance.</p>
			
			<div class="table-responsive text-left">
			  <table class="table table-sm table-bordered table-hover text-left main-schedule-table">
				  <tbody>
					  <tr>
				      <td style="width: 50%; padding-top: 25px; padding-bottom: 25px;" class="americas" align="center"><a href="{{site.baseurl}}/assets/schedule.pdf"><h4 style="margin-bottom: -10px;">Schedule PDF (Full Color)</h4></br>(Click to download)</a></td>
				      <td style="width: 50%; padding-top: 25px; padding-bottom: 25px;" class="europe-africa" align="center"><a href="{{site.baseurl}}/assets/scheduleBW.pdf"><h4 style="margin-bottom: -10px;">Schedule PDF (Black & White)</h4></br>(Click to download)</a></td>
				    </tr>
				  </tbody>
			  </table>
			</div>
			
			
							      
											      
			<!-- Author Box -->
      {% if page.author %}				
			<div class="row mt-5">
				<div class="col-md-2 align-self-center">
                       {% if author.avatar %}
                      <img class="rounded-circle" src="../{{author.avatar}}" alt="{{author.name}}" width="90"/>
                      {% endif %} 
				</div>
				<div class="col-md-10">		
                      <h5 class="font-weight-bold">Hosted by {{ author.name }} {% if author.twitter %}<span><a target="_blank" href="{{ author.twitter }}" class="btn btn-outline-success btn-sm btn-round ml-2">Follow</a></span>{% endif %}</h5>
					{{ author.bio }}					
				</div>
			</div>				
      {% endif %}
      
      <!-- Comments -->
      {% if page.comments != false %}
          {% include comments.html %}
      {% endif %}
            
		</div>
	</div>
</div>


















