---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - e-Conference 2021."
day: "Monday"
ms1: "MS1"
ms2: "MS2"
ct1: "CT1"
ms1time: "9:30-11:00am"
ms2time: "11:15am-12:45pm"
ct1time: "1:30-2:30pm"
postertime: "2:30-3:30pm"
date1:   2021-06-14 07:45:00 -000
date2:   2021-06-14 14:45:00 -000
date3:   2021-06-14 23:45:00 -000
GMT: 'June 14, 2021 23:45:00'
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	
	<div class="col-md-12 main-loop">
	    <div class="row">
	        <div class="col-md-12 text-center">
		        
		        {% include banner.html %}
		        </br>
			      </br>
			      
					
						<h1 class="mb-3 text-left">Europe-Africa time block</h1>
						<hr>
						<div class="row">
						  <div class="col-md-4">
							  <h4 class="text-left">When to attend:</h4>
							  <p class="text-justify">SMB recommends that you attend the conference during your local time zone day time hours. 
								  <script type = "text/javascript">
										document.write("We've automatically detected that you are viewing this website from the (<strong>"+new Date().toLocaleTimeString('en-us',{timeZoneName:'short'}).split(' ')[2]+"</strong>) time zone and have filled in the appropriate times for each session in the 'Local' column, below.</p>");
							    </script>
								  
							  </p>
							  
							  
							  
						  </div>
						  <div class="col-md-8">
							  <h4 class="text-left">Time zone color legend:</h4>
							  <img class="w-100" src="{{site.baseurl}}/assets/images/legend_zones.jpg" alt="Legend of sleeping & waking hours">
						  </div>
						</div>
						
						</br>
						<hr>
			      </br>
						{% include pre-conference-short.html %}
						
						</br>
						<hr>
			      </br>
						
						{% include 24_schedule_europe_africa.html %}	


	        </div>
	        
	        
	    </div>
	</div>
</div>













