---
title: "Society of Mathematical Biology"
layout: default
pagination:
    enabled: false
description: "The Society for Mathematical Biology - e-Conference 2021."
date1:   2021-06-14 07:45:00 -000
date2:   2021-06-14 15:45:00 -000
date3:   2021-06-14 23:45:00 -000
---

<!-- +9 (london), +17 (seoul)-->

<div class="container">
	
	<div class="col-md-12 main-loop">
	    <div class="row">
	        <div class="col-md-12 text-center">
		        
		        
<!-- 		        <h1 class="mb-3">SMB 2020 Annual Meeting</h1> -->
		        {% include banner.html %}
		        
		      <div class="row">
					  <div class="col-md-4">
						  <h4 class="text-left">When to attend:</h4>
						  <p class="text-left">SMB recommends that you attend the conference during your local time zone day time hours. There are three time blocks: Americas, Europe-Africa, and Asia-Oceania. While we encourage participation in the time block where you are located, all talks will be recorded.</p>
					  </div>
					  <div class="col-md-8">
						  <h4 class="text-left">Time zone color legend:</h4>
						  <img class="w-100" src="{{site.baseurl}}/assets/images/legend_zones.jpg" alt="Legend of sleeping & waking hours">
					  </div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							
							<p class="text-left">The full schedule may also be viewed from the perspective of Americas (North/South), Europe/Africa, or Asia/Oceania:</p>
							{% include time_zone_switcher.html %}
						</div>
					</div>
					
					
					</br>
					<hr>
		      </br>
		      
		      <div class="row">
					  <div class="col-md-12">
						  <h4 class="text-left">How to navigate this schedule:</h4>						
						  <p class="text-left">There are multiple ways to navigate the schedule. You may browse by subgroup, below:</p>
						 	
						 	{% include subgroup_menu.html %}
						 	
						 	{% include subgroup_descriptions.html %}
							
							<p class="text-left">
								Alternatively, click on any box in the full schedule below to view the full list of parallel tracks (e.g. click "Minisymposium 1" to view all minisymposia at that time).
							</p>
						 	
						  
					  </div>
					</div>
		      
		      <hr>
		      </br>
		      
		      
					{% include pre-conference.html %}
		      
		      </br>
					<hr>
		      </br>
				
					{% include 24_schedule.html %}	

	        </div>
	    </div>
	</div>
</div>


















