<ul class="pagination text-left">
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/CBBS"><span class="">MS01</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/CDEV"><span class="text-CDEV">MS02</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/DDMB"><span class="text-DDMB">MS03</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/DEI"><span class="text-DEI">MS04</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/ECOP"><span class="text-ECOP">MS05</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/EDUC"><span class="text-EDUC">MS06</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/EVOP"><span class="text-EVOP">MS07</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/IMMU"><span class="text-IMMU">MS08</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MEPI"><span class="text-MEPI">MS09</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MFBM"><span class="text-MFBM">MS10</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MMPB"><span class="text-MMPB">MS11</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/NEUR"><span class="text-NEUR">MS12</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/ONCO"><span class="text-ONCO">MS13</span></a></li>
</ul>