<div>
	<h4>Click to view posters for each subgroup</h4>
  <ul class="pagination">
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/all-posters.html"><span class="">All</span></a></li>
	  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/CDEV-posters.html"><span class="text-CDEV">CDEV</span></a></li>
	  <li class="page-item" ><a class="page-link text-EDUC" style="color:#000000 !important;" href="{{site.baseurl}}/EDUC-posters.html"><span class="text-EDUC">EDUC</span></a></li>
	  <li class="page-item" ><a class="page-link text-IMMU" style="color:#000000 !important;" href="{{site.baseurl}}/IMMU-posters.html"><span class="text-IMMU">IMMU</span></a></li>
	  <li class="page-item"><a class="page-link text-MEPI" style="color:#000000 !important;" href="{{site.baseurl}}/MEPI-posters.html"><span class="text-MEPI">MEPI</span></a></li>
	  <li class="page-item"><a class="page-link text-MFBM" style="color:#000000 !important;" href="{{site.baseurl}}/MFBM-posters.html"><span class="text-MFBM">MFBM</span></a></li>
	  <li class="page-item"><a class="page-link text-NEUR" style="color:#000000 !important;" href="{{site.baseurl}}/NEUR-posters.html"><span class="text-NEUR">NEUR</span></a></li>
	  <li class="page-item"><a class="page-link text-POPD" style="color:#000000 !important;" href="{{site.baseurl}}/POPD-posters.html"><span class="text-POPD">POPD</span></a></li>
	  <li class="page-item"><a class="page-link text-ONCO" style="color:#000000 !important;" href="{{site.baseurl}}/ONCO-posters.html"><span class="text-ONCO">ONCO</span></a></li>
	  <li class="page-item"><a class="page-link text-OTHE" style="color:#000000 !important;" href="{{site.baseurl}}/OTHE-posters.html"><span class="text-OTHE">OTHE</span></a></li>
	</ul>
</div>