<h1 class="text-left">Pre-conference Program</h1>
<h4 class="text-left">Public lecture & Mentoring Workshop</h4>
<h4 class="text-left">Sunday, June 13, 2021</h4>


<p class="text-justify">The day before the conference (Sunday, June 13, 2021) will consist of an opening Public Lecture (Sandra Loerakker) and a mentoring workshop.</p>

<ul class="pagination text-left">
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/pre-conference/"><span>Pre-conference program</span></a></li>
</ul>