<h1 class="text-left">Pre-conference Program</h1>
<h4 class="text-left">Public lecture & Mentoring Workshop</h4>
<h4 class="text-left">Sunday, June 13, 2021</h4>


<p class="text-justify">The day before the conference (Sunday, June 13, 2021) will consist of an opening Public Lecture (Sandra Loerakker), an early-career mentoring workshop, and a diversity, equity, and inclusion (DEI) panel discussion.</p>


</br>

<div class="row text-left">
  <div class="col-md-12 text-left">				
			<table class="table table-striped text-left">
			  <thead>
			    <tr>
			      <th scope="col">Time (PDT)</th>
			      <th scope="col">Scheduled Event</th>
			      <th scope="col">Speaker</th>
			    </tr>
			  </thead>
			  <tbody>
				  <tr>
			      <th scope="row">9:00am</th>
			      <td>Opening Public Lecture</td>
			      <td class="opening-plenary"><a href="{{site.baseurl}}/plenary/plenary-sunday"><strong>Sandra Loerakker</strong> (click to view abstract)</a></td>
			    </tr>
			    <tr>
				    <td colspan=3>
					    <div><strong></br>Early Career Workshop</strong>
						    <a id=""></a>
						    
			    	    <button id="{{site.baseurl}}/session-recordings#Early-Career-Early-Career-Workshop" onclick="passWord(this.id)">Early Career Workshop video recording</button>
			    	    <button id="{{site.baseurl}}/session-recordings#Early-Career-Early-Career-Panel" onclick="passWord(this.id)">Early Career Panel video recording</button>
						    
					    </div>
				    </td>
			    </tr>
			    <tr>
			      <th scope="row">10:00am</th>
			      <td>Introduction</td>
			      <td><strong>Stacey Smith?</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">10:30am</th>
			      <td>Challenges in Grad School</td>
			      <td><strong>Shelby Scott</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">11:00am</th>
			      <td>Things I Wish I'd Known as a Postdoc</td>
			      <td><strong>Rebecca Everett</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">11:30am</th>
			      <td>How to get a tenure-track job</td>
			      <td><strong>Stacey Smith?</strong></td>
			    </tr>
			    <tr>
			      <th scope="row">1:00pm</th>
			      </td>
			      <td>Panel discussion </br> <em>(Non-academic careers)</em></td>
			      <td>Facilitated by <strong>Rebecca Everett</strong></br>Panelists: <strong>Blerta Shtylla</strong>, <strong>Helen Moore</strong>, <strong>Susan Massey</strong>, <strong>Malidi Ahamadi</strong></td>
			    </tr>
			    
			    <tr>
				    <td colspan=3>
					    <div><strong></br>DEI Discussions</strong></div>
				    </td>
			    </tr>
			    <tr>
			      <th scope="row">2:00pm</th>
			      </td>
			      <td><a href="{{site.baseurl}}/DEI-setting-the-stage">Discussions Celebrating and Building Diversity in Mathematical Biology: Setting the Stage for SMB 2021</a></td>
			      <td class="DEI">Facilitated by <strong>Stacey Finley, Suzanne Sindi, Mikahl Banwarth-Kuhn and the SMB DEI Committee</strong>.</td>
			    </tr>
			  </tbody>
			</table>
	</div>
</div>
