<!--
<ul class="pagination justify-content-center">
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/">Overview</a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/sunday">Sunday</a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/monday">Monday</a></li>
  <li class="page-item"><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/tuesday">Tuesday</a></li>
  <li class="page-item"><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/wednesday">Wednesday</a></li>
  <li class="page-item"><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/thursday">Thursday</a></li>
</ul>
-->