<ul class="pagination text-left">
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/CBBS"><span class="text-CBBS">CBBS</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/CDEV"><span class="text-CDEV">CDEV</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/DDMB"><span class="text-DDMB">DDMB</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/DEI"><span class="text-DEI">DEI</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/ECOP"><span class="text-ECOP">ECOP</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/EDUC"><span class="text-EDUC">EDUC</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/EVOP"><span class="text-EVOP">EVOP</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/IMMU"><span class="text-IMMU">IMMU</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MEPI"><span class="text-MEPI">MEPI</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MFBM"><span class="text-MFBM">MFBM</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/MMPB"><span class="text-MMPB">MMPB</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/NEUR"><span class="text-NEUR">NEUR</span></a></li>
  <li class="page-item" ><a class="page-link" style="color:#000000 !important;" href="{{site.baseurl}}/ONCO"><span class="text-ONCO">ONCO</span></a></li>
</ul>