{% assign hoursToSec=0 %}
{% assign minutesToSec=0 %}

{% if include.hoursToAdd %}
    {% assign hoursToSec = include.hoursToAdd | times: 3600 %}
{% else %}
    {% assign hoursToSec = 0 %}
{% endif %}

{% if include.minutesToAdd %}
    {% assign minutesToSec = include.minutesToAdd | times: 60 %}
{% else %}
    {% assign minutesToSec = 0 %}
{% endif %}

<!-- Local timezone offset: -->
{% assign localMinutesToSec = getOffset() %}

<!-- {% assign localMinutesToSec = include.localMinuteOffset | times: 60 %} -->


{% assign myOffset = hoursToSec | plus: minutesToSec}

<!-- assign a +1 day indicator for each time zone -->
{% assign plusDay1 = ""}
{% assign plusDay2 = ""}

<!-- Time Zone 3 -->
{% assign class3 = "asleep" %}
{% if myOffset < 26100 %}
	{% assign class3 = "asleep" %}
{% else %}
	{% if myOffset < 33300 %}
		{% assign class3 = "early-late" %}
	{% else %}
		{% if myOffset < 62100 %}
			{% assign class3 = "awake" %}
		{% else %}
			{% assign class3 = "early-late" %}
		{% endif %}
	{% endif %}
{% endif %}

{% if myOffset >= 1800 %}
	{% if myOffset <= 2700 %}
		{% assign plusDay3 = "(next day)" %}
	{% endif %}
{% endif %}


<td class="default-cols {{class3}}" align="center">
	<script type = "text/javascript">
		
		// focal date
		var date2 = new Date('June 14, 2021 10:45:00');
		var myNewOffset = getNewOffset({{myOffset}});
		var newDate = add_minutes(date2,myNewOffset);
		var newDateString = getDateString(newDate);		
		document.write(newDateString);
     
  </script>  
</td>
<td class="default-cols {{class3}}" align="center">
	{{  page.date3 | date: "%s" | plus: hoursToSec | plus: minutesToSec | date: "%I:%M%P"}}
	</br>{{plusDay3}}
</td>

