<div class="table-responsive text-left">
  <table class="table table-sm table-bordered table-hover text-left main-schedule-table">
	  <tbody>
		  <tr>
	      <td style="width: 33.3%; padding-top: 25px; padding-bottom: 25px;" class="americas" align="center"><a href="{{site.baseurl}}/americas"><h4 style="margin-bottom: -10px;">Americas</h4></br>(Click to view schedule if attending the Americas time block)</a></td>
	      <td style="width: 33.3%; padding-top: 25px; padding-bottom: 25px;" class="europe-africa" align="center"><a href="{{site.baseurl}}/europe-africa"><h4 style="margin-bottom: -10px;">Europe/Africa</h4></br>(Click to view schedule if attending the Europe-Africa time block)</a></td>
	      <td style="width: 33.3%; padding-top: 25px; padding-bottom: 25px;" class="asia-oceania" align="center"><a href="{{site.baseurl}}/asia-oceania"><h4 style="margin-bottom: -10px;">Asia/Oceania</h4></br>(Click to view schedule if attending the Asia-Oceania time block)</a></td>
	    </tr>
	  </tbody>
  </table>
</div>